/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove outline from focusable elements for mouse users only */
:focus:not(:focus-visible) {
  outline: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Include a width and height for images to avoid layout shifts */
img {
  width: 100%;
  height: auto;
}

/* Make sure the elements are rendered consistently */
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Make sure anchor tags don't receive focus when clicked */
a:focus {
  outline: none;
}


/* Navigation */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: white;
}

.navbar::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-image: linear-gradient(to right, #a46497, #2ea2cc);
}

.logo {
  height: 60px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.link {
  margin: 0 20px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  transition: color 0.3s ease;
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background-image: linear-gradient(to right, #a46497, #2ea2cc);
  transition: width 0.3s;
}

.link:hover::after {
  width: 100%;
}

/* .link:hover {
  color: #a46497;
} */

/* MainContent */

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 20px;
  text-align: center;
  box-sizing: border-box;
}
.main-content {
  position: relative;
  background-image: url('./img/bg-1.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  padding: 200px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content-overlay {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.main-title {
  font-weight: 700;
  font-size: 45px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}

.title {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 700;
  color: #3e3b3f;
  padding-bottom: 30px;
}

.text {
  font-weight: 300;
  line-height: 1.5;
  font-size: 28px;
}

.join-button {
  background-image: linear-gradient(to right, #a46497, #2ea2cc);
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.join-button:hover {
  background-image: linear-gradient(to right, #2ea2cc, #a46497);
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.mt-100 {
  margin-top: 100px;
}

.goals-section {
  background-image: url('./img/bg-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.goals-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  color: #fff;
}

.sub-text {
  font-weight: 200;
    line-height: 1.5;
    font-size: 28px;
}

.awards-section {
  padding-top: 100px;
  text-align: center;

}

.content-details-list {
  padding-top: 20px;
  list-style: none;
  font-size: 28px;
  margin-right: 20px;
}

.arrow-icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #aa43c8;
  margin-right: 12px;
  flex-shrink: 0;
}

.arrow-icon-wrapper img {
  width: 20px;
  height: 20px;
}

.content-details-list li {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  line-height: 1.2;
}

.awards-cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.awards-image {
  width: 300px;
  height: 300px;
  background-image: url('./img/prem.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Jury */


.jury-content {
  position: relative;
  background-image: url('./img/bg-2.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  padding: 200px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.jury-image {
  width: 300px;
  height: 300px;
  background-image: url('./img/nomination-icon.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.styled-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.styled-list li {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #3e3b3f;
  line-height: 1.3;
  display: flex;
  align-items: center;
}

.big-number {
  font-size: 74px;
  font-weight: bold;
  background: linear-gradient(to right, #a46497, #2ea2cc); /* Градиентный цвет фона */
  -webkit-background-clip: text; /* Применяем градиент к тексту */
  color: transparent; /* Делаем текст прозрачным */
  padding: 10px 15px;
  border-radius: 50%;
  margin-right: 15px;
}

.jury-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.jury-buttons button {
  background-image: linear-gradient(to right, #a46497, #2ea2cc);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.jury-buttons button:hover {
  background-image: linear-gradient(to right, #2ea2cc, #a46497);
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2)
}

.jury-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year-title {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
  color: #3e3b3f;
  padding-bottom: 50px;
}

.jury-details-list {
  padding-top: 20px;
  list-style: none;
  font-size: 24px;
  font-weight: 300;
  margin-right: 20px;
}

.jury-details-list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  line-height: 1.2;
}


.jury-item {
  display: flex;
  margin-bottom: 100px;
}

.image-container {
  margin-right: 50px;
}

.jury-title {
  font-weight: 200;
  font-size: 36px;
  position: relative; /* Позиционируем относительно */
}

.jury-title::after {
  content: ''; /* Добавляем пустой контент */
  position: absolute; /* Абсолютное позиционирование */
  border-bottom: 3px solid #aa43c8; /* Толщина и цвет линии */
  width: 150px; /* Ширина линии */
  bottom: -10px; /* Отступ от нижней части текста */
  left: 0; /* Выравниваем по левому краю */
}
.jury-country {
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
}

.text-container {
  max-width: 800px;
}


.text-container {
  flex: 1;
  text-align: left;
}

.jury-img  {
  width: 400px;
  height: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.jury-card img:hover {
  transform: scale(1.05);
}


/* Footer */

.footer {
  background-color: #262626;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.footer-container {
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.footer-container strong {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.footer-container p {
  font-size: 20px;
  font-weight: 300;
}

.address {
  margin-bottom: 20px;
}

.phone {
  margin-bottom: 20px;
}
